.bigimg {
    margin-top: 0.8rem;
}

.detail-download {
    text-align: right;

    .alert {
        text-align: center;
    }
}

#vcomments {
    margin-top: 10rem;
}

.modal-body {

    p {
        padding: 1rem 0;
        margin-bottom: -1rem;
    }
}

.bigimg-text {
    padding: 2rem 0;
}