#header-icon {
    font-size: 32px;
    // vertical-align: bottom;
}

#header-text {
    line-height: 58px;
    // vertical-align: middle;
}

#pic-list {
    margin-top: 0rem;
}

#carouselExampleCaptions {
    margin-top: 0.8rem;
}

#pic-tit {
    margin-top: 5rem;

    h4 {

        span{
            font-size: small;
        }
    }
}

.pic-item {
    padding: 1rem;
    padding-bottom: 0;
    width: 22rem;
    margin: 0 auto;
}